.texto{
    padding: 0px;
    margin: 1px;
    font-size: 14px !important;
    width: 100%;
}

.textoI{
    padding: 0px;
    margin: 0px;
    font-size: 14px !important;
    text-align: right;
}

.logo{
    width: 200px;
    height: 100px;
    object-fit: center;
 }


 .confirmation{
    width: 150px;
    object-fit: center;
 }
