.fixed{
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.cabecera{
    display: flex;
    justify-content:space-between;
    align-self: stretch;
    flex-wrap: wrap; 
}
.derecha{
    display: flex;
    width: 60%;
}

.texto{
    color: dimgray;   
    width: 50%; 
    border-radius: 10px; 
}

@media screen and (max-width: 480px) {
    .texto {
      width: calc(100% - 80px);
    }
  }

.acordion{
    margin-bottom: 0.5rem;
}
.viewer{
    height: 300px;
    overflow-y: scroll;
}
.pre {
    display: 'block';
    padding: '10px 30px';
    margin: '0'; 
    white-space: pre-wrap;
    word-break: keep-all;
}

.sub {
    display: 'block';
    padding: '10px 30px';
    margin: '0';
    font-size: 14px;    
    white-space: pre-wrap;
    word-break: keep-all;
}

.img{
    padding: 8px 8px; 
    margin: 8px 8px;
    width: 200px !important;
    height: 200px !important; 
    align-self: center;
 } 